@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: -apple-system, Inter, "Segoe UI";
  --font-mono: ui-monospace, "Roboto Mono", monospace;
  --breakpoint-xxs: 384px;
  --breakpoint-xs: 512px;
}

@utility text-decoration-style-solid {
  text-decoration-style: solid;
}

@utility text-decoration-style-double {
  text-decoration-style: double;
}

@utility text-decoration-style-dotted {
  text-decoration-style: dotted;
}

@utility text-decoration-style-dashed {
  text-decoration-style: dashed;
}

@utility text-decoration-style-wavy {
  text-decoration-style: wavy;
}

html {
  background: #fff;
  min-height: 100vh;

  background: linear-gradient(135deg, #fff 0%, #ddd 100%);
  /* background-image: url('/topography.svg'); */
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
