@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive, hover, focus, group-hover {
    .text-decoration-style-solid {
      text-decoration-style: solid;
    }
    .text-decoration-style-double {
      text-decoration-style: double;
    }
    .text-decoration-style-dotted {
      text-decoration-style: dotted;
    }
    .text-decoration-style-dashed {
      text-decoration-style: dashed;
    }
    .text-decoration-style-wavy {
      text-decoration-style: wavy;
    }
  }
}

html {
  background: #fff;
  min-height: 100vh;

  background: linear-gradient(135deg, #fff 0%, #ddd 100%);
  background-image: url('/topography.svg');
}
